table {
  width: 100%;

}

.mat-form-field {
  font-size: 20px;
  width: 100%;
}
th {
  width: 35%;
  background-color: beige;
  font-size: larger;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;


}
td {
  width: 25%;
}
.spacer {
  flex: 1 1 auto;
}
